:root {
  --textColor: #111;
  --linkColor: #746856;
  --fontFamily: Helvetica, sans-serif;
  --fontFamily2: 'Space Mono';
  --fontFamily3: 'Chakra Petch';
  --fontWeight: 500;
  
  --accentColor: rgb(255, 251, 0);
  --accentColor2: #111;
  --accentColor3: rgba(247, 0, 255,1);
  --accentColor4: rgba(0, 255, 242,1);
  --accentText: #fff;
  --accentText2: #fff;
  --accentText3: #111;
  --primBackground: #fff;

  --letterSpace: -1px;
  --innerPadding: 150px;
  --backgroundGradient: rgba(2, 255, 242, 0.8);
}

[data-theme="light"] {
  --textColor: #fff;
  --linkColor: #746856;

  --accentColor: #dba260;
  --primBackground: #111;

  --backgroundGradient: rgba(5, 247, 255, 0.3);
}

body {
  background: var(--primBackground);
  font-family: var(--fontFamily2);
}

h1, h2, h4, h3 {
  margin: 0;
  font-family: var(--fontFamily);
  text-transform: uppercase;
}

h2 {
  letter-spacing: var(--letterSpace);
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

h3 {
  letter-spacing: var(--letterSpace);
  font-size: 2.4rem;
  margin-bottom: 25px;
}

.reg-head {
  border-bottom: 30px solid #111;
  flex: auto;
}

/*NAVIGATION*/
#logo {
  font-size: 1.5rem;
  line-height: 0;
}
nav {
  font-size: 1.2rem;
  padding: 15px 25px;
  border-bottom: 0px solid var(--textColor);
}

nav a {
  padding: 0 15px;
  border-right: 1px solid var(--textColor);
}

nav a:last-child {
  border-right: 0px solid var(--textColor);
}

nav .active {
  background: var(--accentColor2);
  color: var(--accentText2);
}

/*HEADER*/
header {
  padding: 50px;
  margin-top: -50px;
  background-color: var(--primBackground) ;
  /*background-image:  linear-gradient(var(--backgroundGradient) 1px, transparent 1px), linear-gradient(to right, var(--backgroundGradient) 1px, var(--primBackground) 1px);
  background-size: 100px 100px;*/
  box-shadow: inset 0 0 500px 35vh var(--primBackground);
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.11) 51%);
	background-size: 100% 25px;
  height: calc(95vh - 10px);
}

#inner-head {
  max-width: 750px;
  margin: 0 auto;
}

/*TITLE*/
#title {
  position: relative;
  z-index: 1;
}

span.highlight {
  background: var(--accentColor);
  padding: 40px 0 15px 0;
  display: inline;
}

#title h1, .highlight h2{
  font-size: 100px;
  letter-spacing: -6px;
  line-height: 110%;
  display: inline;
  position: relative;
}

.marker {
  border-bottom: 10px solid var(--accentColor);
  padding-bottom: -10px;
  display: inline;
}

#subtitle {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--textColor);
}

/*SOCIAL LINKS*/
#social {
  margin-top: 30px;
}

#social a {
  color: var(--textColor);
  font-size: 2rem;
  margin-right: 20px;
  padding-bottom: 20px;
  display: block;
  margin-left: 200px;
  color: var(--textColor);
}

#intro {
  width: 450px;
  left: 45%;
  margin: -210px 0 0 20px;
  font-size: 1.2rem;
}

.block {
  position: relative;
}

.square {
  position: absolute;
  background: var(--accentColor2);
  width: 100%;
  height: 100%;
  left: -20%;
  top: -25%;
  border-left: 0px solid var(--textColor);
}

.block-p {
  position: relative;
  z-index: 1;
  color:#111;
  display: inline;
  background: #fff;
  line-height: 160%;
}

/*SECTIONS*/
.bg1 {background: var(--accentColor);}
.bg2 {background: var(--accentColor2); color: var(--primBackground)}
.bg3 {background: var(--accentColor3);}
.bg4 {background: var(--accentColor4);}
.hl {line-height: 160%;}
.hl-w {background: var(--primBackground); color: var(--accentColor2)}

#projects .col img {
  width: 100%;
  height: auto;
  align-self: center;
}

.inner-section h2 {
  margin-bottom: 50px;
}

.skew-right,
.skew-left {
  width: 80%;
}

.skew-right {
  margin-right: 0;
  margin-left: auto;
}

.skew-left {
  margin-left: 0;
  margin-right: auto;
}

.img-shadow {
  box-shadow: black -30px 30px;
}

.skew-left .img-shadow {
  box-shadow: black 30px 30px;
}

.project-desc span {
  font-family: var(--fontFamily);
}

.project-notes {
  font-size: 1.2rem;
}

.project-notes li {
  margin-bottom: 10px;
}