:root {
    /*text*/
    --textColor: #fff;
   --primBackground: rgb(9, 9, 9);
    --secBackground: black;
  
    --accentColor: red;
    --accentText: #000;
    --accentColor2: #fff;
    --accentText2: #000;
  
    --border: 0px solid #eceaea;
  }

  [data-theme="fun"] {
    --textColor: #000;
    --primBackground: rgb(0, 255, 0);
    --secBackground: black;
  
    --accentColor: red;
    --accentText: #000;
    }
  
    [data-theme="light"] {
      --textColor: #000;
      --linkColor: red;
      
      --accentColor: rgb(255, 21, 21);
      --accentColor2: #000;
    
      --primBackground: #fff;
    } 

  /*contact page*/
  #contact .col li {
    display: flex;
    align-items: flex-start;
    list-style-type: "\f058";
    padding-bottom: 5px;
  }

  #contact .col {
    padding-left: 0;
    padding-right: 0;
    max-width: 800px;
  }

  h3 {
    margin-top: 25px !important;
    display: block;
  }

  #credits li a {
    box-shadow: inset 0 -1px var(--accent);
    color: var(--textLinks);
  }